*.aux
*.dvi
*.fls
*.fdb_latexmk
*.log
*.out
*.synctex.gz
*.toc
*.xmpi
*.bbl
*.blg
*.code-workspace
.DS_Store
.ipynb_checkpoints
/ln02/docker/db-data
.env
ln02/testing/
ln02/__pycache__/verify.cpython-311.pyc
ln02/config.ini
ln02/config.ini
